{% extends "base.html" %}

{% block js%}

<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}jqplot/js/jquery.jqplot.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}jqplot/js/jqplot.highlighter.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}jqplot/js/jqplot.cursor.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}jqplot/js/jqplot.dateAxisRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}jqplot/js/jqplot.ohlcRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}jqplot/js/jqplot.pointLabels.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}jqplot/js/jqplot.barRenderer.min.js"></script>
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}jqplot/js/jqplot.categoryAxisRenderer.min.js"></script>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jqplot/css/jquery.jqplot.css" />



<script type="text/javascript" charset="utf-8">
	(function ($) {
		$.extend({ 
	    	highlight: function (x) {
				$("tr td:nth-child(10n)").each(function(){
					var tv = parseInt($(this).text());
		       		if ( tv >= x ){
		               $(this).parent().addClass("warning");
					   $(this).parent().find('input:checkbox:first').attr('checked', true);
		           	}
		           	else{
		           		$(this).parent().removeClass("warning");
						$(this).parent().find('input:checkbox:first').attr('checked', false);
		           	}
	       		});   
	    	}
		});
		$.extend({ 
	    	highlight_checked: function () {
				$("tr").each(function(){
					var tc = $(this).find('input:checkbox:first').is(':checked')
		       		if ( tc==true ){
		               $(this).addClass("warning");
		           	}
		           	else{
		           		$(this).removeClass("warning");
		           	}
	       		});   
	    	}
		});
	})(jQuery);
		
	$(document).ready(function() {
				
		$('#form').submit( function() {
		    var sData = $('#form :input').serialize();
			$.post("/benchmarks/{{name}}/{{current_date.u}}",sData);			
			return false;
		} );
		
		 $('#example').change(function() {
		 	$.highlight_checked();  
		 });
		 
		 $("#loading").hide();
			           
    } );
	
	$(document).ajaxStop(function(){
	  $('#form').fadeTo("slow",1.0);
	  $("#loading").fadeOut("slow");
	});

	$(document).ajaxStart(function(){
	   $('#form').fadeTo("slow",0.25);
	   $('#loading').fadeIn("slow");
	 });
	
</script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){  
 
    var gabe = {
		series: [
		 {color: 'rgb(27, 158, 119)',  markerOptions: { show: false}},
		 {color: 'rgb(217, 95, 2)',  markerOptions: { show: false}},
		 {color: 'rgb(117, 112, 179)',  markerOptions: { show: false}},
		 {color: 'rgb(231, 41, 138)',  markerOptions: { show: false}},
		        ],
	    grid: {
	        drawGridlines: true,
	        gridLineColor: "#F7F7F7",
	        gridLineWidth: 1,
	        backgroundColor: "#E8E8E8",
	        borderColor: "#999999",
	        borderWidth: 2,
	        shadow: true
	    }
       };	
	  //$.jqplot.config.enablePlugins = true;

	  // Our ajax data renderer which here retrieves a text file.
	  // it could contact any source and pull data, however.
	  // The options argument isn't used in this renderer.
	  var ajaxDataRenderer = function(url, plot, options) {
	    var ret = null;
	    $.ajax({
	      // have to use synchronous here, else the function 
	      // will return before the data is fetched
	      async: false,
	      url: url,
	      dataType:"json",
	      success: function(data) {
	        ret = data;
	      }
	    });
	    return ret;
	  };
	  // The url for our json data
	  var jsonurl = "/benchmarks/{{name}}/{{current_date.u}}data/";
 
	  // passing in the url string as the jqPlot data argument is a handy
	  // shortcut for our renderer.  You could also have used the
	  // "dataRendererOptions" option to pass in the url.
	  var plot01 = $.jqplot('chart1', jsonurl,{
	    dataRenderer: ajaxDataRenderer,
	    dataRendererOptions: {
	      unusedOptionalUrl: jsonurl
	    },
  	  cursor:{ 
  	    show: true,
  	    zoom:true, 
  	    showTooltip:true
  	  },
      xaxis: {
		  show: false
	  },
	  });
	  plot01.themeEngine.newTheme('gabe', gabe);
	  plot01.activateTheme('gabe');

	  $('.chart1-reset').click(function() { plot01.resetZoom() }) 
	  
});
</script>


{% endblock%}

{% block title %}{{cap_name}}{% endblock %}

{% block content %}

<h3> {{cap_name}} <div id="loading"></div>	</h3>

<div class="hidden-phone" id="chart1"></div>
<button class="btn chart-button chart1-reset hidden-phone">Reset Zoom</button>
	
<form id="form">
	
	<div id="date-select">
		<select ONCHANGE="location = this.options[this.selectedIndex].value;">
		<option>{{current_date.p}}</option>	
		 {% for x in date_list %}	
		  <option value="/benchmarks/{{name}}/{{x.u}}">{{x.p}}</option>
		  {% endfor %}
		</select>	
	</div>	
	


{% if object_list %}

	
	<button class="btn btn-primary iphonebtn" type="submit" >submit page</button>    
		
	<div class="pagination">
	  <ul id="pagination-menu">
		<li><a href="?page={{1}}">First</a></li>
	    <li><a href="?page={{ object_list.previous_page_number }}"><</a></li>
	    <li><a href="?page={{ object_list.next_page_number }}">></a></li>
		<li><a href="?page={{object_list.paginator.num_pages}}">Last</a></li>
	  </ul>
	  <span id="pagination-text">Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}</span>
	</div>
	
<table class="table table-condensed table-striped" id="example">
<thead>
	<tr>
		<th>Node Name</th>
		<th class="hidden-phone">t1</th>
		<th class="hidden-phone"></th>
		<th class="hidden-phone">t2</th>
		<th class="hidden-phone"></th>
		<th class="hidden-phone">t3</th>
		<th class="hidden-phone"></th>
		<th class="hidden-phone">t4</th>
		<th class="hidden-phone"></th>
		<th>Percent</th>
		<th>Check</th>
	</tr>
</thead>
<tbody>

{% csrf_token %}
{% for x in object_list %}
	{% if x.effective %}
	<tr>
	{% else %}
	<tr class="warning">
	{% endif %}
		<td>{{ x.name }}</td>
		<td class="hidden-phone">{{ x.test1 }} </td>
		<td class="hidden-phone">({{ x.p_test1 }})</td>
		<td class="hidden-phone">{{ x.test2 }}</td>
		<td class="hidden-phone">({{ x.p_test2 }})</td>
		<td class="hidden-phone">{{ x.test3 }}</td>
		<td class="hidden-phone">({{ x.p_test3 }}) </td>
		<td class="hidden-phone">{{ x.test4 }}</td>
		<td class="hidden-phone">({{ x.p_test4 }})</td>
		<td>{{ x.p_index }}</td>
		{% if x.effective %}
		<td class="center"><input type="checkbox" value="{{ x.id }}" name="effective" ></td>
		{% else %}
		<td class="center"><input type="checkbox" value="{{ x.id }}" name="effective" checked="yes"></td>
		{% endif %}
	</tr>	
{% endfor %}		
	</tbody>
</table>

{% else %}
    <p>No summary available.</p>
{% endif %}	

</form>
</div>





{% endblock %}





